<nav style="background: #555; color: white; padding: 10px; display: flex; gap: 15px;">
    <button (click)="setActive('home')">home</button>
    <button (click)="setActive('asm')">assembly</button>
    <button (click)="setActive('cpp')">cpp</button>
</nav>

<!-- Window Area -->
<div>
    @switch (activeWindow){
        @default {
            <app-window-home></app-window-home>
        }
        @case ('home'){
            <!--<ng-container *ngComponentOutlet="WindowHomeComponent"></ng-container>-->
            <app-window-home></app-window-home>
        }
        @case ('asm'){
            <app-window-asm></app-window-asm>
        }
        @case ('cpp'){
            <app-window-cpp></app-window-cpp>
        }
    }
</div>