<nav style="background: #555; color: white; padding: 10px; display: flex; gap: 15px;">
    @for(win of windows;track win.key){
        <button (click)="setActive(win.key)"
                [class.active]="activeWindowKey === win.key">
            {{ win.title }}
        </button>
    }

</nav>

<!-- Window Area -->
<main style="padding: 20px; border: 1px solid #ccc; margin-top: 10px;">
    @for (win of windows;track win.key){
        @if ( win.key == activeWindowKey){
            <ng-container *ngComponentOutlet=win.component></ng-container>
        }
    }
</main>