.header{
    background: #555;
    color: white;
    padding: 10px;
    display: flex;
    gap: 15px;
    height: 40px;
    left:1%;
    right:1%;
    top: 0;
    position:fixed;
    border: aqua 1px solid;
}
.window{
    text-align: center;

    left:1%;
    right:1%;
    border: red 1px solid;
    position: absolute;
    top: 60px;
    z-index: -10;
}