<table (keyup)="tableOnKeyUp($event)">
    <tr>
        <th>address</th>
        <th>instruction</th>
        <th>Operand1</th>
        <th>Operand2</th>
        <th>Operand3</th>
        <th>Comment</th>
    </tr>
    @for (inst of instructions;track inst.address){
        <tr>
        <td contenteditable>{{"0x"+inst.address.toString(16)}}</td>
            <td
                    [id]="'asm-table-col-1-'+inst.address"
                    (mouseenter)="mouseEnter(printInstructionPopup(inst.opcodeId), inst.address, 1)"
                    (mouseleave)="mouseLeave()"
                    contenteditable>
                {{ (getInstruction(inst.opcodeId) | async)?.name }}
            </td>

        @for (op of renderOperand(inst.operands)  ; track $index) {
            @if (op.constraint=="-1"){
                <td [id]="'asm-table-col-'+($index+2)+'-'+inst.address"></td>
            } @else if (op.operandInfo ===null){
                <td [id]="'asm-table-col-'+($index+2)+'-'+inst.address"  contenteditable>{{printOperandValue(op)}}</td>
            } @else {
                <td [id]="'asm-table-col-'+($index+2)+'-'+inst.address" (mouseenter)="mouseEnter(printOperandPopup(op),inst.address,$index+2)" (mouseleave)="mouseLeave()" contenteditable>{{printOperandValue(op)}}</td>
            }
        }

        <td [id]="'asm-table-col-4-'+inst.address" contenteditable>{{printComment(inst)}}</td>
        </tr>
    }
</table>
<div id="asm-popup" class="popup">
    @if (popupData!==null){
        <p [innerHTML]="popupData"></p>
    }
</div>
<div style="height: 80px">

</div>
<button class = "applyButton" (click)="applyChanges()" id="asm-apply-changes-button" disabled> apply changes</button>
<button class = "clearButton" (click)="clearTable()" id="asm-clear-button"> clear table</button>