table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 80%;

}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: #dddddd;
}
table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}

th {
    position: sticky;
    top: 60px;
    left:1%;
    width: 10%;
    background: white;
}
.popup{
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 5px;
    z-index: auto;
    position:absolute;
    top: 30px;
}
#asm-popup h4,
#asm-popup p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}