table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    height: 80%;
    z-index: 10;
    position: relative;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    z-index: 10;
    position: relative;
}
th{
    z-index: 20;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}

th {
    position: sticky;
    top: 60px;
    left:1%;
    width: 10%;
    background: white;
}
.popup{
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 5px;
    z-index: 100;
    position:fixed;
    top: 30px;
}
#asm-popup h4,
#asm-popup p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.applyButton{
    border: 3px solid gray;
    border-radius: 5px;
    z-index: 100;
    position: fixed;
    top: 70px;
    left: 81%;
    right: 1%;
    height: 60px;

}